.outterContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: green;
}
#modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
// .onTurnArrow {
//   font-size: 6vh;
//   color: green;
// }
