.outterContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
