.playerCards {
  display: flex;
  padding: 10px;
  border: 4px solid #f10000;
  background-color: #f10000;
  border-radius: 10px;
}
.onMove {
  border: 4px solid green;
  border-radius: 8px;
  background-color: green;
}
