.card {
  text-align: center;
  width: 12vw;
  height: 21vh;
  margin-left: 5px;
  // background-color: red;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.active {
  border: 3px solid red;
}
