$height_aspectRatio: 1.39;
.cardWrap {
  width: 10vw;
}
.card {
  text-align: center;
  padding-top: 128%;
  // background-color: red;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  border-radius: 1vh;
}
.active {
  border: 3px solid red;
}
